/dist/
/lignin-kmc.iml
/ligninkmc.egg-info/
/.idea/
/build/
ligninkmc/__pycache__/
.ipynb_checkpoints/
Dynamics.ipynb
Example.ipynb
LigninPolymerizationNotebook.ipynb
/Example-hm.ipynb
/tests/test_data/run_kmc/psfgen.tcl
/Example_again.ipynb
/testing.ipynb
__pycache__
